{% extends 'base.html' %}
{% block title %}{{ user_obj.username }}{% endblock %}
{% block menu %}
    {% if user_obj == request.user %}
        <li class="nav-item pl-5 ml-5"><a class="nav-link font-weight-bolder text-danger" href="{% url 'accounts:user_detail' user_obj.pk %}">View</a></li>
        <li class="nav-item pl-5 ml-5"><a class="nav-link font-weight-bolder text-danger" href="{% url 'accounts:user_edit' user_obj.pk %}">Edit Profile</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <h1>Change Password: {{ user_obj.username }}</h1>
    <form action="{% url 'accounts:password_change' user_obj.pk %}" method="post">
        {% include 'partial/form.html' with button_text="Save" %}
    </form>
{% endblock %}
