{% extends 'base.html' %}
{% block title %}{{ user_obj.username }}{% endblock %}

{% block menu %}
{% if user_obj == request.user %}
        <li class="nav-item ml-3 mr-3"><a class="nav-link font-weight-bolder text-danger" href="{% url "accounts:user_edit" user_obj.pk %}">Edit Profile</a></li>
        <li class="nav-item ml-3 mr-3"><a class="nav-link font-weight-bolder text-danger" href="{% url 'accounts:password_change' user_obj.pk %}">Change Password</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Profile: {{ user_obj.username }}</h1>
    {% if user_obj.user_profiles.avatar %}
        <img class="avatar" src="{{ user_obj.user_profiles.avatar.url }}" alt="user picture">
    {% else %}
        {% load static %} <img class="avatar" src="{% static "default-avatar.jpg" %}" alt="No avatar!" />
    {% endif %}
    <p>First Name: <b>{{ user_obj.first_name }}</b></p>
    <p>Last Name: <b>{{ user_obj.last_name }}</b></p>
    <p>About Me: {{ user_obj.user_profiles.about }}</p>
    <p>Email: <b>{{ user_obj.email }}</b></p>
    <p>GitHub Profile: <b>{{ user_obj.user_profiles.github_profile }}</b></p>
{% endblock %}