{% extends 'base.html' %}
{% block title %}Projects{% endblock %}
{% block content %}
    {% if perms.webapp.add_project %}
        <a href="{% url 'webapp:project_add' %}" class="btn btn-outline-primary  m-5">Add Project</a>
    {% endif %}
    <div class="type text-left">
        <h1>Projects(bonus)</h1>
    </div>
<div class="container_index pt-5">
<div class="row2">
        <ul class="status table-secondary ">
        <h2>Active</h2>
        {% for item in project_active %}
                <li class="table-bordered p-4">
                    <a href="{% url 'webapp:project_new_detail' item.pk %}"><b>{{ item.project}}</b> </a> (Status: {{ item.status }}) <br>
                    <div class="links">
                        <p>(Create date:{{ item.date_create| date:'d.m.Y H:i:s' }})
                        {% if perms.webapp.delete_project %}
                            <a href="{% url 'webapp:project_delete' item.pk %}"><i class="fas fa-trash-alt ml-5"></i></a>
                        {% elif perms.webapp.change_project %}
                            <a href="{% url 'webapp:project_edit' item.pk %}"><i class="fas fa-edit ml-5"></i></a></p>
                        {% endif %}
                    </div>
        {% endfor %}
        </ul>
        <ul class="status table-secondary ">
        <h2>Closed</h2>
        {% for item in project_closed %}
                <li class="table-bordered p-4 word-spacing">
                    <a href="{% url 'webapp:project_new_detail' item.pk %}"><b>{{ item.project}}</b> </a> (Status: {{ item.status }})
                    <p>(Create date:{{ item.date_create| date:'d.m.Y H:i:s' }})
                </li>
       {% endfor %}
      </ul>
</div>
</div>
{% endblock %}
