{% extends 'base.html'%}

{% block title %}{% endblock %}

{%  block content %}
    <div class="jumbotron mt-5 bg-info">
        <h1 class="title_card display-5 font-weight-bold pb-4">{{ issue.summary }}.
            <b>(Project: {{ issue.project }})</b>
        </h1>
        <p class="pre">{{ issue.description }}</p>
        <p class="lead">Status: {{ issue.status }}</p>
        <p class="lead">Type: {{ issue.type }}</p>
        <hr class="my-4">
        <p class="date">Date of create:  {{ issue.create|date:'d.m.Y H:i:s'}}</p>
        <p><a href="{% url 'webapp:issue_edit' issue.pk %}" class="btn btn-outline-dark" >Edit</a>
           <a href="{% url 'webapp:issue_delete' issue.pk %}" class="btn btn-outline-dark" >Delete</a></p>
    </div>
{% endblock %}