{% extends 'base.html' %}

{% block content %}
    <h1> Issues </h1>

    {% include 'partial/simple_search.html' %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
           <div class="container_index pt-5 pb-5">
            <div class="row">
                <div class="col-15">
                    <table class="table">
                        <thead>
                        <tr class="table-dark text-dark">
                            <th scope="col">id</th>
                            <th scope="col">Summary</th>
                            <th scope="col">Description</th>
                            <th scope="col">Date of create</th>
                            <th scope="col">Date of update</th>
                            <th scope="col">Issue author</th>
                            <th scope="col">Status</th>
                            <th scope="col">Type</th>
                            <th scope="col">Project</th>
                            {% if request.user.is_authenticated %}
                            <th scope="col"></th>
                            {% endif %}
                        </tr>
                        </thead>
                        {% for issue in issues %}
                            <tbody>
                            <tr class="table-secondary">
                                <td>{{ issue.pk }}</td>
                                <td><a href="{% url 'webapp:detail' issue.pk %}">{{ issue.summary }}</td>
                                <td>{{ issue.description }}</td>
                                <td>{{ issue.create|date:'d.m.Y H:i:s' }}</td>
                                <td>{{ issue.update|date:'d.m.Y H:i:s' }}</td>
                                <td>{{ issue.created_by}}</td>

                                <td>{{ issue.status}}</td>
                                <td>{{ issue.type}}</td>
                                <td>{{ issue.project}}</td>
                                {% if request.user.is_authenticated %}
                                <td>
                                   <p>
                                       {% if perms.webapp.delete_issue %}
                                            <a href="{% url 'webapp:issue_delete' issue.pk %}"><i class="fas fa-trash-alt"></i></a>
                                       {% endif %}
                                       {% if perms.webapp.change_issue %}
                                            <a href="{% url 'webapp:issue_edit' issue.pk %}"><i class="fas fa-edit"></i></a>
                                       {% endif %}
                                   </p>
                                </td>
                                {% endif %}
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
{% endblock %}