{% extends 'base.html' %}

{% block content %}
           <div class="container_index">
            <div class="row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                        <tr class="table-dark text-dark">
                            <th scope="col">id</th>
                            <th scope="col">Summary</th>
                            <th scope="col">Description</th>
                            <th scope="col">Date of create</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        {% for issue in issues %}
                            <tbody>
                            <tr class="table-secondary">
                                <td>{{ issue.pk }}</td>
{#                                <td><a href="{% url 'view_issue' issue.pk %}">{{ issue.summary }}</td>#}
                                <td><a href="">{{ issue.summary }}</td>
                                <td>{{ issue.description }}</td>
                                <td>{{ issue.create}}</td>
                                <td><p><a href=""><i class="fas fa-trash-alt"></i></a>
                                       <a href=""><i class="fas fa-edit"></i></a></p> </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
{% endblock %}