{% extends "base.html" %}
{% block title %}Delete Status{% endblock %}

{% block content %}
    <h1 class="question text-center">Are you sure want to delete status:
        <br>
        <b>{{ status }}</b>?</h1>
    <form method="POST" action="{% url "status_delete" status.pk %}" class="text-center">
        {% csrf_token %}
        <p><input type="submit" value="Yes, delete" class="btn btn-outline-dark"></p>
        <p><a href="{% url 'status_index' %}" class="btn btn-outline-dark">No, cancel</a></p>
    </form>
{% endblock %}