body{
    font-family: Arial, sans-serif;
    background-color: rgba(148, 196, 220, 0.83);
    color: #222222;
    margin-top: 30px;
}
.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}
.nav-item{
    font-size: 20px;
}
.navbar-brand{
    font-size: 25px;
}
.container_index {
  padding: 5rem 0em;
}

.table-image {
  td, th {
      vertical-align: middle;
 }
}
td.vcenter {
    vertical-align: middle;
}
.fas{
    font-size: 23px;
    padding: 8px;
}
.table-dark{
    font-size: 16px;
}
pre{
    white-space: pre-wrap;
}
.date{
    font-size: 20px;
}
.btn{
    font-size: 15px;
    border-radius: 7px;
    width: 120px;
    font-weight: bold;
    margin: 20px 20px 0 20px;
    color: black;
}
