body{
    font-family: Arial, sans-serif;
    background-color: rgba(148, 196, 220, 0.83);
    color: #222222;
    margin-top: 30px;
}
.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}
.nav-item{
    font-size: 20px;
}
.navbar-brand{
    font-size: 25px;
}
.fas{
    font-size: 23px;
    padding: 8px;
}
.table-dark{
    font-size: 16px;
}
pre{
    white-space: pre-wrap;
}
.date{
    font-size: 20px;
}
.btn{
    font-size: 15px;
    border-radius: 7px;
    width: 120px;
    font-weight: bold;
    margin: 40px 70px 0 0;
    color: black;

}
.required{
    font-weight: bold;
    color: #bf1f6d;
}
.form-error {
    color: red;
    font-size: 18px;
    margin: 5px 0 0 0
}

.field-error {
    border: solid 1px red;
    box-shadow: red 0 0 3px;
}
.form-control {
    justify-content: center;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    display: block;
    width: 80%;
    border: solid 1px lightgray;
    box-sizing: border-box;
    background: white;
    margin-left: 70px;
}
.fields{
    font-size: 20px;
}
h1{
    margin: 40px 0;
}
.status h1{
    margin:50px 0 0 60px;
}
.type h1{
    margin:50px 0  0 60px;
}

