{% extends 'base.html' %}

{% block title %}Type{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <a href="{% url 'webapp:type_add' %}" class="btn btn-outline-primary  m-5">Add Type</a>
    {% endif %}
    <div class="type text-left">
        <h1>Types</h1>
    </div>

<div class="container_index pt-5">
            <div class="row ml-5">
                <div class="col-8">
                    <table class="table">
                        <thead>
                        <tr class="table-dark text-dark">
                            <th scope="col">id</th>
                            <th scope="col">Type</th>
                            {% if request.user.is_authenticated %}
                                <th scope="col"></th>
                            {% endif %}
                        </tr>
                        </thead>
                        {% for type in types %}
                            <tbody>
                            <tr class="table-secondary">
                                <td>{{ type.pk }}</td>
                                <td>{{ type}}</td>
                                {% if request.user.is_authenticated %}
                                <td>
                                    <p><a href="{% url 'webapp:type_delete' type.pk %}"><i class="fas fa-trash-alt"></i></a>
                                       <a href="{% url 'webapp:type_edit' type.pk %}"><i class="fas fa-edit"></i></a></p>
                                </td>
                                {% endif %}
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
{% endblock %}