{% extends 'base.html' %}

{% block title %}Status{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <a href="{% url 'webapp:status_add' %}" class="btn btn-outline-primary  m-5">Add Status</a>
    {% endif %}

    <div class="status text-left">
        <h1>Statuses</h1>
    </div>

<div class="container_index pt-5">
            <div class="row ml-5">
                <div class="col-8">
                    <table class="table">
                        <thead>
                        <tr class="table-dark text-dark">
                            <th scope="col">id</th>
                            <th scope="col">Status</th>
                            {% if request.user.is_authenticated %}
                                <th scope="col"></th>
                            {% endif %}
                        </tr>
                        </thead>
                        {% for status in statuses %}
                            <tbody>
                            <tr class="table-secondary">
                                <td>{{ status.pk }}</td>
                                <td>{{ status}}</td>
                                {% if request.user.is_authenticated %}
                                <td>
                                    <p><a href="{% url 'webapp:status_delete' status.pk %}"><i class="fas fa-trash-alt ml-5"></i></a>
                                       <a href="{% url 'webapp:status_edit' status.pk %}"><i class="fas fa-edit ml-2"></i></a></p>
                                </td>
                                {% endif %}
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
{% endblock %}