{% extends 'base.html'%}

{% block title %}{% endblock %}

{%  block content %}
    <div class="jumbotron mt-5 bg-info">
        <h1 class="title_card display-5 font-weight-bold">{{ project.project }}.</h1>
        <p class="lead">Status: {{ project.status }}</p>
        <p class="pre">{{ project.specification }}</p>
        <p class="lead">Create date: {{ project.date_create| date:'d.m.Y H:i:s'}}</p>

        <p><a href="{% url 'webapp:project_edit' project.pk %}" class="btn btn-outline-dark" >Edit</a>
            <a href="{% url 'webapp:project_delete' project.pk %}" class="btn btn-outline-dark" >Delete</a></p>
        <hr class="my-4">

        <h2><b>Issues for this project: </b></h2>
        <p class="container_index pt-1 pb-2">
            {% for issue in issues %}
                <h5>{{ issue.pk }}. <a href="{% url 'webapp:detail' issue.pk %}" class="text-dark font-weight-bold"> {{ issue.summary}}</a></h5>
                <p><b>Issue create: </b>{{ issue.create|date:'d.m.Y H:i:s' }}</p>
                <p>Issue author: <b>{{ issue.created_by }}</b></p>
                <p>Issue perfomer: <b>{{ issue.assigned_to }}</b></p>
            {% empty %}
                <p>This new project, no issues yet.</p>
            {%  endfor %}
        <a href="{% url "webapp:project_issue_add" project.pk %}" class="add btn btn-outline-dark">Add issue</a>
    </div>
{% endblock %}

