{% extends 'base.html' %}
{% block title %}Projects{% endblock %}
{% block content %}
    <a href="{% url 'project_add' %}" class="btn btn-outline-primary  m-5">Add Project</a>
    <div class="type text-left">
        <h1>Projects(bonus)</h1>
    </div>
<div class="container_index pt-5">
<div class="row2">
{% regroup projects by status as status_list %}
<ul>
  {% for status in status_list %}
      <li>{{ status.grouper }}
        <ul class="status table-secondary ">
        {% for item in status.list %}
            {% if item.status == 'active'  %}
                <li class="table-bordered p-4">
                    <a href="{% url 'project_new_detail' item.pk %}"><b>{{ item.project}}</b> </a> (Status: {{ item.status }}) <br>
                    <div class="links">
                        <p>(Create date:{{ item.date_create| date:'d.m.Y H:i:s' }})
                        <a href="{% url 'project_new_delete' item.pk %}"><i class="fas fa-trash-alt ml-5"></i></a>
                            <a href="{% url 'project_edit' item.pk %}"><i class="fas fa-edit ml-5"></i></a></p>
                    </div>
            {% else%}
                <li class="table-bordered p-4 word-spacing">
                    <a href="{% url 'project_new_detail' item.pk %}"><b>{{ item.project}}</b> </a> (Status: {{ item.status }})
                    <p>(Create date:{{ item.date_create| date:'d.m.Y H:i:s' }})
            {% endif %}
                </li>
       {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
</div>
</div>
{% endblock %}
